html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6ffff;
}

form {
  border: solid 1px #d9d9d9;
  padding: 10px;
  background-color: #ccfff5;
}

.warning {
    color:red;
}

.row {
  display: flex;
  gap: 15px;
  margin: 20px;
}

.row img {
  width: 450px;
  height: 200px;
}